[Unit]
Description=ras_rohm
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/ras_rohm_client-master/client.py
Restart=always
TimeoutSec=300
StandardOutput=journal
StandardFrror=journal

[Install]
WantedBy=multi-user.target

